h1{
    border-bottom: solid 2px blue;
}

.layout_up{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.layout_middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
}

/*ボタン共通*/
.example1{
   width: 100px;
   padding: 20px;
}

#str{
    background: aliceblue;
}

#pau{
    background: rgb(168, 168, 239);
}

#cle{
    background: rgb(235, 156, 156); 
}

#graph{
   
}

/*スライダー共通*/
.slider_sample1{
    width: 75%;
}